[user]
	name = Ali Nikneshan
	email = ali@mybitmax.com
    signingkey = 5B092FB89BD914FC
[core]
	autocrlf = input
	quotepath = false
[diff]
	algorithm = patience
[alias]
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
[init]
	defaultBranch = master
